.board-grid {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 180px 180px 180px;
   
  }
.squares {
  
  border: 1px solid rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  
  
  }
.small-buttons{
 background-color: chartreuse;
 width: 60px;
 height: 60px;
}